DEBUG=True
SECRET_KEY=your_fifty_characters_hell_of_a_strong_secret_key!

SQLITE_FILE=db_file_name.sqlite3

EMAIL_HOST=smtp.mailserver.com
EMAIL_HOST_USER=email@mail.com
EMAIL_HOST_PASSWORD=mail_password
EMAIL_PORT=587
EMAIL_USE_TLS=True
